<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>
	<div class="container">
    <header>
        <nav>
            <a href="#home">HOME</a> |
            <a href="#menu">MENU</a> |
            <a href="#location">LOCATION</a> |
            <a href="#aboutus">ABOUT US</a> |
            <a href="#contactus">CONTACT US</a>
        </nav>
    </header>

    <section id="home">
		<img src="The-Bombay-Canteen.jpg" >
        <!-- Add images here -->
    </section>

    <section id="menu">
        <h2>Our Menu</h2>
        <div class="grid-container">
        <img src="menu4.jpg" alt="Menu item 6">

    </div>
    </section>

    <section id="location">
        <h2>Location</h2>
        <p>Pune</p>
        <!-- Add map widget here -->
    </section>

    <section id="contactus">
        <h2>Contact Us</h2>
        <p>Got questions? Want to place an order? Call us at +91123456 or email us at amol@gmail.com</p>
    </section>

	
 
<script
src="https://cdn.cai.tools.sap/webchat/webchat.js"
channelId="5540570f-7632-468e-b8b3-49e8973d6f42"
token="e04ad41d2bd5c3c1e1413b843cdce342"
id="cai-webchat">

</script>
	</div>
</body>
</html>
